body{
    font-family: 'Inter';
    font-size: 15px;
}

main{
    margin-right: 52rem;
    margin-left: 10rem;
    margin-top: 0rem;
}

.form-container{
    background: rgba(240, 126, 31, .8);
    color: white;
    border-radius: 0.5rem;
    padding-bottom: 13rem;
    padding-top: 2.5rem;
}

.abs-center{
    margin-left: 2rem;
    margin-right: 2rem;
}

button {
    position: relative;
}

img{
    background: rgba(240, 126, 31, .8);
    height: 200px;
    width:345x;
    border-radius: 0.5rem;
}