body{
    margin:0px;
}

main{
    margin-right: 55rem;
    margin-left: 10rem;
    margin-top: 0rem;
    box-sizing: content-box;
}

.form-container{
    background: rgba(240, 126, 31, .8);
    color: white;
    border-radius: 0.5rem;
    padding-bottom: 13rem;
}

.abs-center{
    margin-left: 1.5rem;
}

button {
    position: relative;
}

img{
    background: rgba(240, 126, 31, .8);
    height: 190px;
    width:270px;
    border-radius: 0.5rem;
}
