
.card-body {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 20px;
    text-align:left;
    font-family: Arial, sans-serif;

}
.carrusel {
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
}

.slides img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: none;
}

.anterior, .siguiente {
    position: relative;
    background-color: transparent;
    color: black;
    border: none;
    padding: 5px;
    cursor: pointer;
}
